body{
    background : black;
}
/*
#imagem {
	background-color: black;
	border: solid 6px;
	max-width: 302px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
	height: 402px;
	align-items: center;
	justify-content: space-around;
	min-width: 302px;
	border-radius: 6px;
}*/

#imagem {
	margin-top: 4%;
	height: 300px;
    width:200px;
	background-size: cover;
    background-repeat: no-repeat;
}

button{
	width: 100%;
}

.row{
	padding-top: 1%;
}