body{
    background : black;
}
#imagem {
	margin-top: 4%;
	height: 300px;
    width:200px;
	background-size: cover;
    background-repeat: no-repeat;
}

button{
	width: 100%;
}

.row{
	padding-top: 1%;
}

.modal-body {
    background: #2e2e2e;
    color: white;
}

