body{
    background : black;
}
#imagem {
	margin-top: 4%;
	height: 300px;
    width:200px;
	background-size: cover;
    background-repeat: no-repeat;
}

button{
	width: 100%;
}

.row{
	padding-top: 1%;
}

.modal-body {
    background: #1f1f1f;
    color: white;
}

#dev{
    padding:2px;
    text-decoration: None;
    color: white;
}
