<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>Ordle</title>

</head>
<body>
<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ordle</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Como jogar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Sobre</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end navbar 

<script>
    const zeroFill = n => {
        return ('0' + n).slice(-2);
    }
    const interval = setInterval(() => {
        const now = new Date();

        const Time = zeroFill(now.getHours()) + ':' + zeroFill( now.getMinutes()) + ':' + zeroFill(now.getSeconds());
        
        document.getElementById('time').innerHTML = Time;
    }, 1000);
</script>
-->
{% set nome = personagem %}

<form method="POST" action="{{ url_for('autenticar') }}">
    <div id="imagem" class="rounded mx-auto d-flex align-items-center justify-content-center"
         style="background-image: url('{{imagem}}'); filter: blur({{int(localStorage.getItem('blur'))}}px);"></div>
    <br>
    <div class="container rounded mx-auto d-block">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6 col-md-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">&#128269;</span>
                    <input type="text" class="form-control" placeholder="Pesquise aqui" name="entrada">
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary" value="submit">Adivinhar</button>
            </div>
        </div>

        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-5 col-md-3">
                <!-- https://www.flaticon.com/br/icone-gratis/d20_6654545?term=d20&page=1&position=20&page=1&position=20&related_id=6654545&origin=search# -->
                {% for i in range (0, int(localStorage.getItem('pontos')))%}
                <img src="{{url_for('static', filename='d20.png')}}" width="57px">
                {% endfor %}
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-5 col-md-3">
                <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                    <li class="alert alert-light">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% elif 1==0 %}
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-5 col-md-3">
                <ul id="messages" class="list-unstyled">
                    <li class="alert alert-light">Você perdeu! {{nome}}</li>
                </ul>
            </div>
        </div>
        {% endif %}
        {% endwith %}
</form>

</body>

</html>